*{
    margin: 0;
    margin: 0;
}

.grid{
    display: grid;
    grid-auto-rows: 50px;
    grid-template-rows: 400px;
}

.navbar{
    background-color: blue;
    grid-column: span 2;
    align-self: end;
    justify-self: center;
}

.sidebar{
    background-color: blueviolet;
    grid-column: span 2;
    align-self: center;
}

section{
    background-color: brown;
    grid-column: 2;
    grid-row: 2;
    align-self: end;
}

footer{
    background-color: cadetblue;
    grid-column: 1;
    grid-row: 2;
    align-self: start;
}