*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: url('img/2150724725.jpg')
    no-repeat;
}

span.logo{
    width: 64px;
    height: 64px;
    background: url('img/netflix.png') no-repeat center;
}

div.nav{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

div.nav a{
    margin: auto;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-shadow: 0px 0px 5px black;
}

.nav-link{
    margin: auto;
    
}

div.container{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: 600px;
    text-align: center;
    padding: 20px;
}

div.container h1{
    font-size: 58px;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.384);
}

div.container h2{
    font-size: 35px;
    font-weight: 100;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.699);
}

div.container p{
    text-shadow: 0px 0px 5px black;
}

div.link-container{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

span.dream-color{
    color: magenta;
}

div.link-container a{
    text-decoration: none;
    color: white;
    border: solid 2px white;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px black;
    transition: 0.5s;
    }

    div.link-container a:hover{
        background-color: magenta;
        border: magenta solid 2px;
        transition: 0.5s;
    }