body{
    margin: 0;
    height: 100vh;
}

.astro {
    display: flex;
    background-image: url('img/fundo.jpg');
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

img {
    max-width: 90%;
    height: auto;
}

